@charset "UTF-8";

/*body{margin-top:20px;}*/
.cart-item-thumb {
    display: block;
    width: 10rem
}

.cart-item-thumb>img {
    display: block;
    width: 100%
}

.product-card-title>a {
    color: #222;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
    
}

.text-muted {
    color: #888 !important;
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}
.font-weight-semibold {
    font-weight: 600 !important;
}

.btn-select {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ccc;
	padding:7px;
}

#cat_id {
	width: 77px;
	outline: none;
	border: none;
	background-color: #f5f5f5;
	color: #333;
	border-color: #ccc;
	padding:7px;
} 
 
#width_tmp_select{
  display : none;
} 

.cart-link{
	text-decoration: none !important;
	background-color: #eee;
	color: #333;
	margin: 5px;
	padding: 3px;
	border-radius: 5px;
}

